.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(243, 151, 59);
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  max-width: 80%;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.beachList {
  max-height: 200px;
  max-width: 300px;
  overflow-y: auto;
  border: 3px solid black;
  border-radius: 5px;
  margin: 20px auto;
  align-items: center;
  background-color: white;
}

.beachList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.beachList li:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.2);
}

#map {
  height: 85vh;
  width: 99%;
  align-items: center;
  border: 2px solid black;
  margin: auto;
}

.leaflet-popup-content-wrapper {
  height: 185px;
  width: 150px;
}

.leaflet-popup-content {
  text-align: center;
}

.popup h2 {
  font-size: 14px;
}

.popup p {
  padding: 0;
  margin: 0;
}

.popupClickables {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popupClickables img:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
